.choresText {
   color:magenta;
   font-family: 'Franklin Gothic Medium';
   font-size: 1.7vw;
   text-align: left;
   text-decoration-line: underline;
   font-style: italic;
}

.choresHeading {
   color: black;
}