.choresText {
   color:magenta;
   font-family: 'Times New Roman', Times, serif;
   font-size: 19px;
   text-align: left;
   text-decoration-line: underline;
   font-style: italic;
}

.choresHeading {
   text-align: left;
   color: black;
   font-size: 24px;
   font-weight: bold;
}